<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<style type="text/css">
		#jumbotron_bg
		{
			background-image: url("<%=img.imglink%>");
			background-size: contain;
			background-size: cover;
    		background-repeat: no-repeat;
    		background-position: center;
		}
		#nav_head
		{
			font-family: 'Anton', sans-serif;
			color : #464646;
		}
		#jumbotron_head
		{
			font-family: 'Anton', sans-serif;
			color : #464646;
		}
		#jumbo_content
		{
			font-family: 'Courgette', cursive;
		}
	</style>
	<link href="https://fonts.googleapis.com/css?family=Anton|Courgette&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
  		<span class="navbar-brand mb-0 h1" id="nav_head"><b>W I M P Y</b></span>
	</nav>
		<div class="jumbotron jumbotron-fluid"   id="jumbotron_bg">
  			<div class="container" >
    			<h1 class="display-4" id="jumbotron_head">MESS IT UP</h1>
    			<p class="lead" id="jumbo_content">This is a money managment service for paid food mall which makes cumbersome process of simply buying food smooth easy and lighting fast</p>
  			</div>
		</div>
	

</body>
</html>